 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    
    
}
#kontener{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    overflow: hidden;
    text-align: center;
    align-items: center;
    flex-direction: column;
}
#tytul{
    margin-top: 5%;
    margin-bottom: 5%;
}
hr{
    width: 80%;
    margin: 0 auto;
    height: 4px;
    background-color: #ddd;
    outline: none;
    border-radius: 20px;

}
#dane p{
    margin-top: 1%;
    font-size: 15px;
}
		table {
			border-collapse: collapse;
			width: 70%;
            
		}
		th, td {
			padding: 8px;
			text-align: left;
			border-bottom: 1px solid #ddd;
		}
		th {
			background-color: #f2f2f2;
		}
        #dane{
            font-size: 25px;
            width: 100%;
            height: 20%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }
        .lewy, .prawy{
            display: flex;
            width: 35%;
            height: 100%;
            flex-direction: column;
            
            
        }