

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,900;1,300&display=swap');





* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;
    background-color: #262626;
    width: 100vw;
    height: 100vh;
    
}
body{
    overflow-x: hidden;
}
#container{
   
    display: flex;
    position: relative;
    clear: both;
    overflow:auto; 
    width: 100vw;
    height: 100vh;
}

#navbar{
    
    height: 100vh;
    width: 70px;
    left: 0;
    top: 0;
    float: left;
    background-color: #0d0d0d;
    text-align: center;
    position: sticky;
    z-index: 1;
    
}
#logo_icon{
    position: relative;
    top:5%;
}
#middle_icon{
    position: relative;
    top: 30%;
}
#bottom_icon{
    position: relative;
    top: 40%;
}
#navbar li{
    list-style: none;
    justify-content: space-between;
    margin-top: 20%;
}
#navbar .fa-solid, #navbar .fa-brands{
    color: #595959;
    
    font-size: 2.5em;
    margin-top: 20%;
    transition: 0.5s, transform 0.5s;
}
#navbar .fa-solid:hover, #navbar .fa-brands:hover, .navigation--responsive .fa-solid:hover, .navigation--responsive .fa-brands:hover{
    color: #15eda3;
}
.navigation--responsive .fa-solid, .navigation--responsive .fa-brands{
    color: #595959;
    transition: 0.5s, transform 0.5s;
    margin-top: 20%;
    font-size: 5em;
}


label[for="toggle"] {
    position: fixed;
    top: 15px;
    left: 25px;
    color: #15eda3;
    z-index: 6;
    font-size: 3rem;
    display: none;
    
}
#toggle {
    display: none;
}
svg.hamburger {
    display: none;
}
.navigation--responsive {
    display: none;
}


#content{
    width: 100vw;
    height: 100vh;
    display: flex;
    color: #c8c8c8;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-image: url(../pictures/tlo2.png);
    background-repeat: no-repeat;
    
   
}
#center{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
#left-side-text .fa-solid,  .fa-brands{
    font-size: 2.5em;
    color: #595959;
    margin-right: 6%;
    margin-top: 10%;
}
#left-side-text{
   margin-top: 8em;
    display: flex;
    flex-direction: column;
    font-size: 2rem;
    position: relative;
    overflow-wrap:normal;
    width: 33%;
}

#right-side-form{
    
    display: flex;
    flex-direction: column;
    padding: 50px 50px;
    border: 2px solid #595959;
    margin-bottom: 0;
}
#right-side-form p{
    font-size: 2.9rem;
}
#right-side-form input, textarea{
    position: relative;
    border: none;
    border-bottom: 2px solid #595959;
    background: transparent;
 
    margin-top: 5%;
    font-size: 2em;
    color: #c8c8c8;
    padding: 10px 10px;
    outline: none;
}
#right-side-form textarea{
    margin-top: 10%;
    border: 2px solid #595959;
   
}
#right-side-form input:focus{
    color: #15eda3;
    border-bottom-color: #15eda3;
}
#right-side-form textarea:focus{
    border: 2px solid #15eda3;
    color: #15eda3;
}
#right-side-form input:focus::placeholder{
    color: #15eda3;
}



button {
    background-color: transparent;
    --c: #15eda3;
    color: var(--c);
    margin: 0 auto;
    margin-top: 1em;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 16em;
    height: 4em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
}

button span {
    position: absolute;
    width: 45%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    transition: 0.7s;
    z-index: -1;
    left: 34%;
}

button:hover {
    color: black;
    cursor:pointer;
}

button:hover span {
    transform: translateY(-40%) scale(3);
}

@media only screen and (max-width: 1200px){
    
    #container{
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }
    #navbar{
        width: 100%;
        height: 60px;
        float: none;
        display: flex;
        overflow-y: unset;
    }
    #logo_icon{
        display: none;
    }
    #middle_icon{
        width: 70%;
        display: flex;
        align-items: center;
    }
    #bottom_icon{
        width: 20%;
        display: flex;
        float: right;
        align-items: center;
    }
    #middle_icon li{
        margin-left: 5%;
    }
    #bottom_icon li{
        margin-left: 20%;
    }
    #middle_icon, #bottom_icon{
        top:0;
    }
    #navbar li{
        list-style: none;
        float: left;
        margin-top: 0%;
        
    }
   #navbar .fa-solid, #navbar .fa-brands{
        color: #595959;
        font-size: 4em;
        
        transition: 0.5s, transform 0.5s;
    }
    #content{
        display: flex;
        height: 90vh;
    }
   
}
@media only screen and (max-width: 1100px){
    #container{
        display: flex;
        flex-direction: column;
        
    }
    #content{
        display: flex;
        justify-content: center;
        padding-top: 5%;
    }
    #center{
        flex-direction:column;
        height: 100%;
        width: 90%;
       align-items: center;
       justify-content: flex-start;
    }
    #left-side-text{
        width: 100%;
        margin: 0;
        display: flex;
        text-align: center;
    }
    #left-side-text ul{
        list-style-type: none;
    }
    #right-side-form{
        margin-top: 10%;
        width: 90%;
        padding: 25px 25px;
    }
    #right-side-form p{
        text-align: center;
    }
}
    
@media only screen and (max-width: 750px){
    #content{
        padding-top: 20%;
    }
   
    #navbar{
        display: none;
    }
    #middle_icon, #bottom_icon{
        display: none;
    }
    label[for="toggle"] {
        display: block;
    }
    svg.hamburger {
        display: block;
    }

    .navigation--responsive {
        display: block;
        background: #0d0d0d;
        width: 200px;
        height: 100%;
        position: fixed;
        text-align: center;
        top: -200%;
        right: 0;
        left: 0;
        bottom: 0;
        margin: 0;
        padding: 0;
        transition: top 1s;
        z-index: 2;
        overflow-y: scroll;
        overscroll-behavior: contain;
    }
 
    .navigation--responsive ul {
        display: block;
        list-style: none;
        height: 70vh;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        margin: 85px 0 0 0;
        padding: 0;
    }

    .navigation--responsive ul li {
        margin: 0;
        padding: 0;
    }

    .navigation--responsive li a {
        padding: 0px 0px 0px 0px;
        text-decoration:none;
        color:black;
        font-family:sans-serif;
    }  
  
   #toggle:checked ~ .navigation--responsive {
        top: 0vh;
    } 
    
}
@media only screen and (max-height: 750px){
    #content{
        align-items: flex-start;
    }
    #navbar{
        overflow-y: scroll;
    }
}